<footer class="bg-gray-700 text-white w-full py-4 relative z-2 left-0 text-center transition-all duration-300  " id="footer">
    <div class="container mx-auto px-4 flex flex-col md:flex-row justify-between items-center">
        <a href="#" class="text-2xl font-bold mb-4 md:mb-0">Nart</a>
        <ul class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-6">
            <li><a href="#privacy" class="text-white px-4 py-2 hover:bg-gray-600 rounded">Privacy Policy</a></li>
            <li><a href="#terms" class="text-white px-4 py-2 hover:bg-gray-600 rounded">Terms of Service</a></li>
            <li><a href="#contact" class="text-white px-4 py-2 hover:bg-gray-600 rounded">Contact Us</a></li>
        </ul>
    </div>
</footer>